<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="manifest" href="manifest.json">  
        <meta name="theme-color" content="#28292E" />
    <link rel="preload" href="https://fonts.googleapis.com">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>

 
    <a class="skip-content-cta" href="#main" tabindex="0">Skip to content</a>

    <header>
        <div class="container">
            <a class="logo" href="index.html">
                Olaf's
            </a>
            <button tabindex="0" id="mobile-cta" class="mobile-menu">
                <img src="./icons/menu.svg" alt="Open Navigation">
            </button>
            

            <nav>
                <button id="mobile-exit" class="mobile-menu-exit">
                    <img src="./icons/menu_exit.svg" alt="Close Navigation">
                </button>
                
                <ul class="primary-nav">
                    <li class="current"><a tabindex="0" href="index.html">Home</a></li>
                    <li><a href="#/favorite" tabindex="0">Favorite</a></li>
                    <li><a tabindex="0" href="https://github.com/setyobagus01">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main id="main">


        <button id="back-cta" tabindex="0"><img src="./icons/arrow_top.svg" alt="Back to top"></button>
    </main>

    <footer>
        <p>Copyright &copy; 2020 - Olaf's</p>
    </footer>
</body>
</html>
